<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @squire.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @squire.description %>
</p>

<%= link_to 'Edit', edit_squire_path(@squire) %> |
<%= link_to 'Back', squires_path %>
